<!DOCTYPE html>
<html lang="<%=locals.lang%>">
<head>
<% const project = locals.projects[locals.pid]%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="/css/fontello/css/fontello.css">

    <title>Jakub Tomczyk - Projekt <%= project.name%></title>
    <meta name="description" content="If you are looking for a front-end web developer & designer - Here I am">
    <meta name="keywords" content="Jakub Tomczyk, Portfolio, Tomczyk, Designer, Front-end, Web-developer">
    <!-- ! FAVICON -->
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icones/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icones/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icones/favicon-16x16.png">
    <link rel="manifest" href="/img/icones/site.webmanifest">
    <link rel="mask-icon" href="/img/icones/safari-pinned-tab.svg" color="#5bbad5">
    <!-- ! FAVICON -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <main>
        <div class="project-card">
            <div class="project-title">
                <a href="../../#work"><i class="icon-left-arr"></i></a>
                <div class="project-name"><%= project.name%></div>
                <div class="project-type"><%= project.type%></div>
            </div>
            <div class="project-main">
                <img src="/img/<%= project.img %>" alt="<%= project.name%> Photo" class="project-img">
                <div class="project-desc">
                    <% project.desc.forEach(text =>{%>
                        <div><%= text%> <br/></div>
                    <%})%>
                    <% if(project.link != null){%>
                        <a href="<%=project.link%>" target="_blank">See here <i class="icon-right-arr"></i></a>    
                    <%}%>
                </div>
            </div>
        </div>
    </main>
</body>
</html>